.wrapper-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.wrapper-container-disable {
  display: none;
}

.toast-container {
  width: 100%;
  max-width: 640px;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.info-msg {
  color: #059;
  background-color: #bef;
}

.success-msg {
  color: #270;
  background-color: #dff2bf;
}

.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
}

.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}

.logo {
  padding-right: 10px;
}

.toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: lightgreen;
  transition: width 0.1s linear;
}

@media only screen and (max-width: 768px) {
  .wrapper-container {
    justify-content: center; /* Center the toast on medium screens */
    top: 10px;
    padding: 10px;
    right: 0;
  }

  .toast-container {
    width: 90%;
    max-width: 90%;
    padding: 8px 20px;
    font-size: 0.9rem;
    border-radius: 8px;
  }

  .logo {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper-container {
    justify-content: center;
    padding: 8px;
    top: 5px;
    right: 0;
  }

  .toast-container {
    width: 95%;
    max-width: 95%;
    padding: 6px 15px;
    font-size: 0.85rem;
    border-radius: 6px;
  }
}
