.login-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-height: 90vh;
}
.lorem-con {
  flex: 1 1 45%;
  padding: 20px;
  box-sizing: border-box;
}
.lorem-txt {
  padding: 10px;
}
.loginin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #213ec0;
  border-radius: 5px;
  flex: 1 1 15%;
  padding: 10px;
}
@media (max-width: 768px) {
  .loginin {
    flex: 1 1 100%;
  }
  .lorem-con {
    display: none;
  }
}
.btn-con {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: -webkit-fill-available;
}
.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #213ec0;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 100%;
}
